@include normalize();

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  debug: (
    image: hide
  )
);

$global-margin-size: 0.5rem;

@import "modules/all";

$border: 2px solid $brand-color;

@font-face {
  font-family: Akkurat Mono;
  src: url("/fonts/AkkuratMono.woff") format("woff"), url("/fonts/AkkuratMono.eot") format("eot"), url("/fonts/AkkuratMono.tff") format("truetype"), url("/fonts/AkkuratMono.svg") format("svg")
}

body {
  @include layout($susy);
  @include container($susy);
  @include border-box-sizing;

  font-family: $base-font-family;
  margin: $header-height 0 $footer-height;
  overflow-wrap: break-word;

  a {
    color: black;

    &:hover {
      color: $header-color;
    }
  }
}
