.content {
  width: 100%;
  padding: $content-padding;

  h1 {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: $content-header-spacing;
    font-weight: normal;
  }

  h3 {
    text-transform: uppercase;
    color: $header-color;
    letter-spacing: $content-header-spacing;
    font-weight: normal;
  }

  img {
    width: 100%;
  }

  .button-container a {
    display: flex;
    text-decoration: none;
  }

  .button {
    @include button(white, $brand-color) {
      border: none;
    };
    margin: auto;
  }

  figure {
    margin: 0;

    img {
      margin: 0 auto;
      display: block;
    }

    &.banner {
      margin: auto;

      img {
        max-height: $content-banner-img-max-height;
      }
    }

    &.padded {
      margin: auto;
      text-align: center;

      img {
        display: inline-block;
        margin: 0 10%;
        max-width: 80%;
      }
    }
  }
}
