.content {
  padding: $content-padding;

  h3 {
    color: $header-color;
    letter-spacing: $content-header-spacing;
    text-transform: uppercase;
  }

  figure.banner {
    display: flex;

    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: $content-header-img-max-height;
    }
  }
}
