footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background-color: $brand-color;

  .button-bar {
    margin: auto;
    height: $footer-height;
    display: flex;
    align-items: center;
    padding: $footer-padding;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      margin-right: $footer-margin-size;

      a {
        color: white;
      }
    }

    .spacer { flex-grow: 1; }

    .buttons {
      display: flex;
      align-items: center;

      .button {
        padding: $footer-padding;
        background: white;

        a {
          color: $brand-color;
          padding: $link-padding;
          text-decoration: none;
          font-size: $footer-button-font-size;;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: $footer-button-spacing;
        }

        &.newsletter {
          padding: $footer-button-padding;
          background: $brand-color;
          border: $footer-button-border;

          a {
            color: white;
          }
        }
      }
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $footer-social-width;
    }
  }
}
