#mc-embedded-subscribe-form {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    font-family: Akkurat Mono, FontAwesome;
    background: white;
    border: $newsletter-input-border;
    color: $dark-grey;
    height: $newsletter-input-height;
    margin: $newsletter-input-margin;
    border-radius: 0;
    padding: $newsletter-input-padding;
    -webkit-appearance: none;

    &.button {
      background-color: $brand-color;
      color: white;
      font-weight: 600;
      width: $newsletter-button-width;
    }

    &.email {
      text-indent: $newsletter-email-indent;
      flex-grow: 1;
      width: $newsletter-email-width;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
