#mc-embedded-subscribe-form {
  display: flex;
  justify-content: center;

  input {
    font-family: Akkurat Mono, FontAwesome;
    background: white;
    border: $input-border;
    color: $dark-grey;
    height: $input-height;
    padding-top: $input-padding;
    margin: $input-margin;
    border-radius: 0;
    -webkit-appearance: none;

    &.button {
      font-weight: 600;
      max-width: 40%;
    }

    &.email {
      padding-left: $email-input-padding;
      max-width: 60%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
