.player {
  max-width: 100%;

  padding: $player-padding;
  margin-bottom: $header-margin-size;
  background: repeating-linear-gradient(-45deg, white, white 8px, $brand-color 8px, $brand-color 18px);

  &__player-content {
    padding: $player-content-padding;
    background: white;
    height: $player-content-height;
    display: flex;
    justify-content: space-around;
  }

  &__buttons {
    height: $player-inner-height;
    line-height: $player-inner-height;
    display: flex;
    align-items: center;
    width: $player-buttons-width;

    #play-button {
      color: white;
      text-shadow: -1px 2px black, -1px -2px black, 2px 0 black, 3px 3px black;
    }

    #pause-button {
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 3px 3px black;
      display: none;
    }

    #loading-icon {
      position: absolute;
      top: ($player-inner-height - 3rem) / 2;
      left: 0;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
      z-index: 9;
    }

    #loading-icon-shadow {
      position: absolute;
      top: ($player-inner-height - 3rem) / 2 + .15rem;
      left: .15rem;
    }
  }

  &__loading-icon {
    position: relative;
    height: $player-inner-height;
    width: $player-buttons-width;
    display: none;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      max-width: 100%;
      height: $player-logo-height;
    }

    span {
      text-transform: uppercase;
      font-size: $player-logo-font-size;
    }
  }

  &__hand-logo {
    img {
      max-width: 100%;
      height: $player-inner-height;
    }
  }
}
