.show {
  margin-top: $show-margin-top;
}

.shows {
  article {
    margin: $shows-margin;

    &:first-of-type {
      border-top: $shows-border;
      padding-top: $shows-space-between-header-and-content;
      margin-top: 0;
    }
  }

  h1 {
    text-align: center;
    text-decoration: none;
    color: $header-color;
    margin: $shows-header-margin;
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: $content-header-spacing;
    font-weight: normal;
    color: black;
    margin: $shows-header-margin;
  }

  .pager {
    text-align: center;
    color: $brand-color;
    margin: $pager-margin;
    height: $pager-height;
    display: flex;
    align-items: center;
    width: $pager-width;
    justify-content: space-around;

    a {
      color: $brand-color;
    }
  }
}
