.shows {
  article {
    margin: $shows-margin;
  }

  h1 {
    text-align: center;
    text-decoration: none;
    color: $header-color;
  }

  h3 {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: $content-header-spacing;
    font-weight: normal;
    color: black;
    margin: $shows-header-margin;
  }

  .pager {
    text-align: center;
    color: $brand-color;
    word-spacing: $pager-word-spacing;
    margin: $pager-margin;

    a {
      color: $brand-color;
    }
  }
}
