<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WLPN // {{ block "title" . }}{{ end }}</title>
  {{ partial "meta" . -}}
  {{ partial "favicon" . -}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app.min.css"></link>
  {{ partial "google-analytics" . -}}
</head>

<body lang="en">
  {{ partial "header" . -}}
  {{ partial "menu" . -}}
  <main class="content">
    {{ block "main" . }}{{ end -}}
  </main>
  {{ partial "footer" . -}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/app.min.js"></script>
  <script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
</body>

</html>

