<footer>
  <div class="bottom-bar">
    <div class="bottom-bar__buttons">
      <span class="bottom-bar__button"><a href="/support">Support</a></span>
      <span class="bottom-bar__button newsletter"><a href="/newsletter">Newsletter</a></span>
    </div>
    <div class="bottom-bar__spacer"></div>
    <div class="bottom-bar__social">
      <span><a><i class="fa fa-facebook fa-2x"></i></a></span>
      <span><a><i class="fa fa-twitter fa-2x"></i></a></span>
      <span><a><i class="fa fa-instagram fa-2x"></i></a></span>
    </div>
  </div>
</footer>
