<section class="menu">
  <div class="menu__close">
    <span class="menu__close-button">&times;</span>
  </div>
  <nav>
    <ul class="menu__list">
      {{ $thisPage := . }}
      {{ $type := .Type }}

      {{ range .Site.Menus.main }}
        {{ $showActive := or ($thisPage.IsMenuCurrent "main" .) (eq (lower $type) (lower .Name)) }}
        <li class="menu__item {{ lower .Name }}{{ if $showActive }} menu__item--active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
  <div class="social-row">
    <i class="fa fa-facebook fa-2x"></i>
    <i class="fa fa-twitter fa-2x"></i>
    <i class="fa fa-instagram fa-2x"></i>
  </div>
</section>
