<section class="menu">
  <div class="menu__top">
    <div class="menu__close">
      <span class="menu__close-button">&times;</span>
    </div>
    <div class="menu__logo">
      <a href="/" class="menu__link"><img src="/img/LumpenRadio_Banner.svg"></img></a>
    </div>
    <div class="menu__station-code">
      <img src="/img/LumpenRadio_105.svg"></img>
    </div>
  </div>
  <nav>
    <ul class="menu__list">
      {{ $thisPage := . }}
      {{ $type := .Type }}

      {{ range after 1 .Site.Menus.main }}
        {{ $showActive := or ($thisPage.IsMenuCurrent "main" .) (eq (lower $type) (lower .Name)) }}
        <li class="menu__item {{ lower .Name }}{{ if $showActive }} menu__item--active{{ end }}">
          <a class="menu__link" href="{{ .URL }}" {{ if hasPrefix .URL "http" }}target="_blank"{{ end }}>{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
  <div class="social-row">
    <div class="social-row__container">
      {{ partial "social-buttons" . }}
    </div>
  </div>
</section>
