{{ define "title" }}Live{{ end }}

{{ define "main" }}
  {{ range (.Paginate (where .Data.Pages "Section" "posts")).Pages }}
    {{ .Render "single" }}
  {{ end }}
{{ end }}

{{ define "section-footer" }}
  <div class="posts-footer">
    <div class="posts-footer__logo-left">
      <img class="posts-footer__logo-left" src="/img/LumpenRadio_LNWP.svg">
    </div>
    <div class="posts-footer__logo-right">
      <img src="/img/LumpenRadio_Fetus.png">
      <span>PMI 2017</span>
    </div>
  </div>
{{ end }}
