// iphone total chrome: 108
// iphone top chrome: 39
// iphone 6: 375x628 full, 375x559 chrome
// iphone 5: 320x529 full, 320x460 chrome

$header-row-height: 3.5rem;
$header-margin-size: .25rem;
$header-gap-size: .5625rem;

$player-content-padding: .5rem;
$player-content-side-padding: $player-content-padding * 2;
$player-padding: .75rem;
$player-content-height: 5rem;
$player-inner-height: $player-content-height - 2 * $player-content-padding;
$player-height: $player-content-height + 2 * $player-padding;
$player-logo-height: 2rem;
$player-logo-font-size: .75rem;
$player-buttons-width: 2.5rem;

$header-height: $header-row-height + 3 * $header-margin-size + $player-height;

$footer-height: 3rem;
$footer-padding: .5rem;
$footer-margin-size: .5rem;
$footer-button-border-size: 2px;
$footer-button-padding: $footer-padding - ($footer-button-border-size/16px);
$footer-button-spacing: .1rem;
$footer-button-font-size: .75rem;
$footer-button-border: solid $footer-button-border-size white;
$footer-social-width: 8rem;

$link-padding: .25rem 0 0;

$menu-border: dashed 1px black;
$menu-close-button-height: 4rem;
$menu-banner-height: 3rem;
$menu-station-code-height: 2rem;
$menu-item-height: 2.5rem;
$menu-link-height: 1.5rem;
$menu-item-padding-top: (($menu-item-height - $menu-link-height) / 2) - (2/16);
$menu-banner-padding: 0 2.5rem .5rem;
$menu-banner-margin: 0 auto auto;
$menu-social-row-height: 6rem;
$menu-social-row-width: 18rem;
