$header-row-height: 3.5rem;
$header-margin-size: .25rem;
$header-gap-size: .5625rem;

$player-inner-padding: .5rem;
$player-padding: .75rem;
$player-content-height: 5rem;
$player-height: $player-content-height + 2 * $player-padding;

$header-height: $header-row-height + 3 * $header-margin-size + $player-height;

$footer-height: 3rem;
$footer-padding: .5rem;
$footer-margin-size: .5rem;
$footer-button-border-size: 2px;
$footer-button-padding: $footer-padding - ($footer-button-border-size/16px);
$footer-button-spacing: .1rem;
$footer-button-font-size: .75rem;
$footer-button-border: solid $footer-button-border-size white;
$footer-social-width: 8rem;

$link-padding: .25rem 0 0;

$menu-border: dashed 1px black;
